body {
  background: linear-gradient(236.85deg, #05497f 7.26%, #c40024 97.03%);
  font-family: Helvetica;
}

.container {
  background: #ecf4ff;
  margin: 64px;
  border-radius: 20px;
  box-shadow: 6px 6px 6px #0e1d2f;
  color: #1c1c1c;
  padding: 64px;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
}

.perfil {
  display: flex;
}

.perfil-foto {
  border-radius: 480px;
  max-height: 160px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.titulo {
  margin-left: 17px;
}

.titulo h1 {
  font-weight: 750;
  font-size: 38px;
}

.titulo h3 {
  font-weight: 100;
  font-size: 27px;
}

.tema button {
  align-self: flex-end;
  font-size: 22px;
  padding: 8px 16px;
  background: #ecf4ff;
  border-radius: 100px;
}

.projetos {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  background: linear-gradient(236.85deg, #05497f 7.26%, #c40024 97.03%);
  margin: 100px;
  border-radius: 23px;
}

.projeto-titulo {
  list-style: none;
  font-weight: 700;
  font-size: 20px;
}

.projeto-item {
  list-style-type: none;
  font-weight: 700;
  font-size: 17px;
  line-height: 47px;
}

.projeto-item a {
  color: #1c1c1c;
  text-decoration: none;
}

.dark {
  background: linear-gradient(236.85deg, #375b86 27.26%, #6b87a9 96.03%);
}

.dark .container {
  background: #333439;
  color: #f6f6f6;
}

.dark .projetos {
  color: #1c1c1c;
}

.dark .tema button {
  background: #1c1c1c;
  color: #ffffff;
  border: 2px solid #f7f7f7;
}